<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tourgraph</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.nikhilsi.TourGraph</string>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TourGraph uses your location to show tour destinations near you on the World Map.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LogoWhite</string>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
